* {
    margin: 0px;
    padding: 0px;
}

/*-------------------------------Colours*/

.title {
    color: #83d46c;
}

.title h5 {
    color: #808078;
}

#nz-map {
    fill: #83d46c; 
    background-color: #CAD6B8;
}

#footer-details {
    background-color: #CAD6B8;
}

.social-links i {
    color: #808078;
}

.social-links i:hover {
    color: #83d46c;
}

.copyright p {
    color: #808078;
}

/*-------------------------------General*/

.container {
   margin: 0;
   width:100%;
   font-family: 'Quicksand', cursive, sans-serif;
}

/*-------------------------------Title*/

.title {
    margin: 20px 30px 10px;
    font-weight: 700;
    text-align: center;
}

.title h5 {
    font-style: italic;
}

/*-------------------------------Images*/

.nz-images {
    display: none;
}

/*-------------------------------Map*/

#nz-map {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 95%;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    margin-left: 10px;
    margin-right: 10px;
}


/*-------------------------------Map*/

.links {
    display: none;
}

/*-------------------------------Footer*/

#footer-details {
    text-align: center;
    bottom: 0;
    width: 100%;
}

.social-links {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 1%;
}

.fab {
    text-shadow: .10rem .10rem #080808;
}

.copyright p {
    font-size: .7rem;
}

/*-------------------------------Media Queries*/

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) { 
   
    .images {
        max-width: 20vw;
        display: block;
        padding-left: 10px;
        padding-bottom: 30px;
    }
        
    .nz-images {
        display: inline-block;
        
        margin-left: 10px;
    }    
    
    .links {
        max-width: 20vw;
        display: inline-block;
        padding: 10px;
        margin-right: 10px;
        
    }
    
    .nz-links {
        display: inline-block;
    }
    
    .map-div {
        min-width: 95%;
    }
    
    #nz-map {
        display: inline-block;
        width: 50%;
    }
    
}

/* Extra large devices (1200px and up)*/

@media (min-width: 1200px) {
    
    .container {
        max-width: 3000px;
    }    
}

