* {
    margin: 0px;
    padding: 0px;
}

/*-------------------------------Colours*/

.navbar {
    background-color: #83d46c
}

.container {
    color: #6c757d;
}

.title {
    color: #83d46c;
}

.title h4 {
    color: #6c757d;
}

.map-div {
    fill: #83d46c; 
    background-color: #CAD6B8;
}

.links-title, .newsletter-title, .support {
    color: #83d46c;
}

#footer-details {
    background-color: #CAD6B8;
}

.social-links i {
    color: #83d46c;
}

.social-links i:hover {
    color: #fff;
}

.copyright p {
    color: #808078;
}

/*-------------------------------General*/

.container {
   margin: 0;
   width:100%;
   font-family: 'Quicksand', cursive, sans-serif;
}

/*-------------------------------Navbar*/

a.navbar-brand  {
    font-weight: 700;
}

/*-------------------------------Title*/

.title, h1 {
    margin: 20px 30px 10px;
    font-weight: 600;
    font-size: 3.7rem;
    text-align: center;
}

.title h4 {
    font-style: italic;
    font-weight: 350;
}

/*-------------------------------Images*/

.nz-images {
    display: none;
}

/*-------------------------------Map*/

.map-div {
    
    position: relative;
    text-align: center;
    max-width: 50vw;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 10px;
    margin-right: 10px;
}

/*-------------------------------Links*/

.nz-sidebar {
    display: none;
}

/*-------------------------------Footer*/

#footer-details {
    text-align: center;
    bottom: 0;
    width: 100%;
}

.social-links {
    font-size: 1.7rem;
    margin-bottom: 0;
    margin-top: 1%;
}

.fab {
    text-shadow: .10rem .10rem #080808;
}

.copyright p {
    font-size: 1rem;
}

/*-------------------------------Media Queries*/

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) { 
   
    .images {
        max-width: 100%;
        padding-left: 10px;
        padding-bottom: 5px;
    }
    
    .images:hover {
        transform: scale(1.5);
        z-index: 1;
        position: relative;
        margin-left: 20%;
    }
        
    .nz-images {
        display: inline-block;
    } 
    
    .nz-images h6 {
        margin-left: 10px;
        padding-bottom: 10px;
        font-size: 1.3rem;
    }
    
    .links {
        display: inline-block;
        padding-bottom: 10px;
        margin-right: 10px;
        font-size: 1.3rem;
        
    }
    
    .nz-links {
        display: inline-block;
    }
    
    .map-div {
        max-width: 50vw;
        z-index: -1;
    }
    
    .newsletter-form, p {
        padding: 2px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 1.3rem;
    }
    
}

/* Extra large devices (1200px and up)*/

@media (min-width: 1200px) {
    
    .container {
        max-width: 3000px;
    }    
}

