* {
    margin: 0px;
    padding: 0px;
}

/*-------------------------------Colours*/

.navbar {
    background-color: #83d46c
}

.container-fluid {
    color: #79807D;
}

.page-title h1 {
    color: #83d46c;
}

.page-title h4 {
    color: #79807D;
}

.search-options {
    background-color: #fff;
}

.fa-search {
    color: #83d46c;
}

.links-title, .newsletter-title, .support {
    color: #83d46c;
}

#footer-details {
    background-color: #fff;
}

.social-links i {
    color: #83d46c;
}

.social-links i:hover {
    color: #808078;
}

.copyright p {
    color: #808078;
}

/*-------------------------------General*/

.container-fluid {
   font-family: 'Quicksand', cursive, sans-serif;
}

/*-------------------------------Navbar*/

.navbar  {
    display: none;
}

/*-------------------------------Title*/

.page-title {
    margin: 20px 30px 10px;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
}

.page-title h4 {
    font-style: italic;
    font-weight: 350;
    font-size: 1rem;
}

/*-------------------------------Left Sidebar*/

.nz-images {
    display: none;
}

/*-------------------------------Map*/

#loader {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 38%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: all, 05s;
}

.gif {
    position: absolute;
    top: 38%;
    left: 35%;
    transform: translate(-50%, -50%);
}

#map {
    height: 860px;
    width: 100%;
}

.gm-svpc {
    display: none;
}

.search-title {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
}

.search-options {
    float: left;
    padding: 1%;
    border-radius: 10px;
    position: absolute;
    margin-top: 20%;
    margin-left: 15%;
    z-index: 1;
}

.radio-buttons {
    text-align: left;
    padding-top: 5px;
}

.key {
    position: absolute;
    margin-left: 250px;
}

/*-------------------------------Right Sidebar*/

.nz-sidebar {
    display: none;
}

/*-------------------------------Footer*/

#footer-details {
    text-align: center;
    bottom: 0;
}

.social-links {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.fab {
    text-shadow: .10rem .10rem #080808;
}

.copyright p {
    font-size: .7rem;
}

/*-------------------------------Media Queries*/

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    
    .navbar {
        display: block;
    }
    
}

/*Medium devices (tablets, 768px and up*/

@media (min-width: 768px) {
    
    
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) { 
    
    /*NAVBAR*/

    a.navbar-brand  {
        font-weight: 400;
    }
    
    /*TITLE*/
    
    .page-title h1 {
        font-size: 3rem;
    }

    .page-title h4 {
        font-size: 1.2rem;
    }
    
    /*LEFT SIDEBAR*/
    
    .images {
        max-width: 100%;
        padding-left: 5%;
        padding-bottom: 6%;
    }
    
    .images:hover {
        transform: scale(2.0);
        z-index: 1;
        position: relative;
        margin-left: 20%;
    }
    
    .kea-img {
        padding: 0;
        width: 25vh;
    }
        
    .nz-images {
        display: inline-block;
    } 
    
    .nz-images h6 {
        margin-left: 10%;
        padding-bottom: 5%;
        font-size: 1.3rem;
    }
    
    /*MAP*/
    
    
    
    /*RIGHT SIDEBAR*/
    
    .nz-sidebar {
        text-align: center;
        display: inline-block;
    }
    
    .nz-sidebar h3 {
        margin-bottom: 5%;
    }
    
    .newsletter-title .support {
        margin-top: 10%;
    }
    
    .nz-sidebar p {
        font-size: 1.1rem;
    }
    
    .links {
        display: inline-block;
        padding-bottom: 10px;
        margin-right: 10px;
        font-size: 1.1rem;
        text-decoration: underline;
        
    }
    
    .kea-img {
        width: 100%;
    }
    
    .newsletter-form, p {
        padding: 2px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 1.1rem;
    }
    
    .btn-lg {
        background-color: #83d46c;
        font-weight: 600;
        text-decoration: none;
    }
    
    .btn-link {
        color: #fff;
    }
    
    .btn-lg:hover {
        background-color: #83d499;
    }
    
    .donate-btn {
        text-align: center;
        margin-bottom: 5%;
    }
    
    /*FOOTER*/
    
    .social-links {
        font-size: 1.7rem;
    }
    
    .copyright p {
        font-size: 1rem;
    }
    
}

/* Extra large devices (1200px and up)*/

@media (min-width: 1200px) {
    
    .container-fluid {
        max-width: 3000px;
    }    
}

